* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter';
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.activated {
    color: #EF400F; 
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav__list li {
    display: flex;
    align-items: center;
    gap: 11px;
}

.nav__list-link{
    color: #BCAAAA;
    font-size: 24px;
    font-weight: 600;
    transition: 0.5s;
}
.nav__list-link:hover{
    color: #EF400F;
}

.nav__post{
    display: flex;
    align-items: center;
    gap: 51px;
}

.nav__post button{
    background-color: transparent;
    border: 3px solid #EF400F;
    color: #EF400F;
    border-radius: 20px;
    width: 200px;
    height: 53px;
    font-weight: 600;
    font-size: 24px;
}

.nav__bg{
    box-shadow: 0px 4px 8.7px 0px #00000040;
    padding: 15px 0;
}


